@import './Variables.scss';
section.clinics {
    background: $bg-main-secondary;
    
    h2 {
        color: white;
    }
    .card {
        max-width: 400px;
        box-shadow: 1px 1px 15px #fff;
        &:hover {
            transform: translateY(-5px);
        }
        .card-body {
            .btn-block{
                border-radius: 20px;
                background: $bg-main-secondary;
                color: white;
                box-shadow: 1px 1px 15px #000fab66;
            }
        }
    }

}