@import './Variables.scss';

section.weare {
    .triangle-main{
        background: $bg-main;
        .triangle {
            width: 100%;
            height: 100px;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            background: $bg-main-secondary;
            margin-top: -2px;
        }
    }
    position: relative;
    background: $bg-main-secondary;

    @media(max-width: $x-sm) {
        margin-top: 50px;
    }

    h2 {
        color: white;

    }

    img {
        &.avatar {
            border-radius: 100%;
            position: absolute;
            width: 5%;
            box-shadow: 1px 1px 14px #0066ff8b;
            margin-top: 50px;
        }

        &:nth-of-type(1) {
            width: 80%;
        }

        &:nth-of-type(2) {
            position: absolute;
            left: 0;
            width: 10%;
            transform: rotateZ(90deg);
            opacity: .1;
            top: 10%;
        }

        &:nth-of-type(3) {
            position: absolute;
            width: 13%;
            transform: rotateZ(90deg);
            opacity: .1;
            bottom: 30%;
            right: 5%;
        }

        // Avatars
        &:nth-of-type(4) {
            top: 22%;
            left: 14%;
        }

        &:nth-of-type(5) {
            top: 43%;
            left: 28%;
        }

        &:nth-of-type(6) {
            top: 21%;
            left: 36%;
        }

        &:nth-of-type(7) {
            top: 45%;
            left: 48%;
        }

        &:nth-of-type(8) {
            top: 25%;
            left: 60%;
        }

        &:nth-of-type(9) {
            top: 39%;
            left: 70%;
        }

        &:nth-of-type(10) {
            top: 24%;
            left: 77%;
        }

        &:nth-of-type(11) {
            top: 54%;
            left: 75%;
        }

    }

    p {
        color: white;
    }


}