@import './Variables.scss';

section.weare {
    position: relative;
    background: $bg-main;
    @media(max-width: $x-sm){
        margin-top: 50px;
    }

    h2 {
        color: $color-font-main;
       
    }

    img {
        &.avatar {
            border-radius: 100%;
            position: absolute;
            width: 5%;
            box-shadow: 1px 1px 14px #0066ff8b;
        }

        &:nth-of-type(1) {
            width: 80%;
        }

        &:nth-of-type(2) {
            position: absolute;
            left: 0;
            width: 10%;
            transform: rotateZ(90deg);
            opacity: .1;
            top: 10%;
        }

        &:nth-of-type(3) {
            position: absolute;
            width: 13%;
            transform: rotateZ(90deg);
            opacity: .1;
            bottom: 30%;
            right: 5%;
        }

        // Avatars
        &:nth-of-type(4) {
            top: 12%;
            left: 14%;
        }
        &:nth-of-type(5) {
            top: 40%;
            left: 28%;
        }
        &:nth-of-type(6) {
            top: 14%;
            left: 36%;
        }
        &:nth-of-type(7) {
            top: 28%;
            left: 48%;
        }
        &:nth-of-type(8) {
            top: 9%;
            left: 60%;
        }
        &:nth-of-type(9) {
            top: 34%;
            left: 70%;
        }
        &:nth-of-type(10) {
            top: 12%;
            left: 77%;
        }
        &:nth-of-type(11) {
            top: 50%;
            left: 75%;
        }

    }
    
  
}
