@import url("https://fonts.googleapis.com/css2?family=Candal&family=Nunito:wght@200;700&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&family=Nunito:wght@200;700&family=PT+Sans:wght@400;700&display=swap");
* {
  transition: all ease-in-out 0.2s;
}

html {
  background: red;
}

body {
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  background: #f6fafd;
}
body header {
  height: 100vh;
  background-image: url("../img/Home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  z-index: 1;
}
@media (max-width: 770px) {
  body header {
    background-position: center;
  }
}
body header img {
  position: absolute;
}
body header img.point:nth-child(1) {
  left: 0;
  top: 50px;
  width: 10%;
  opacity: 0.1;
}
body header img.point:nth-child(2) {
  right: 0;
  width: 20%;
  bottom: 0;
}
body header nav {
  background: transparent;
}
body header nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Candal", sans-serif;
  font-weight: bold;
  color: #0068ff !important;
}
body header nav a.btn-register {
  background: white;
  color: #0068ff !important;
  border-radius: 40px;
  box-shadow: 1px 1px 15px #fff;
}
body header section {
  margin-top: 100px;
}
@media (max-width: 770px) {
  body header section {
    margin-top: 20px;
  }
}
body header section h1 {
  color: #0068ff;
  font-family: "PT Sans", sans-serif;
  font-size: 5em;
}
@media (max-width: 292px) {
  body header section h1 {
    font-size: 2em;
  }
}
body header section p {
  font-size: 1.3em;
  color: #4d4949;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 381px) {
  body header section p {
    font-size: 1em;
  }
}
body header section .input-group input {
  border-radius: 20px;
}
body header section .input-group button {
  border-radius: 20px;
}
body header section button:nth-child(2) {
  border-radius: 20px;
  background: #1912a5e0;
  color: white;
}
body header section button:nth-child(2):hover {
  background: transparent;
  color: #007bff;
}

section.weare {
  position: relative;
  background: #f6fafd;
}
@media (max-width: 292px) {
  section.weare {
    margin-top: 50px;
  }
}
section.weare h2 {
  color: #0068ff;
}
section.weare img.avatar {
  border-radius: 100%;
  position: absolute;
  width: 5%;
  box-shadow: 1px 1px 14px #0066ff8b;
}
section.weare img:nth-of-type(1) {
  width: 80%;
}
section.weare img:nth-of-type(2) {
  position: absolute;
  left: 0;
  width: 10%;
  transform: rotateZ(90deg);
  opacity: 0.1;
  top: 10%;
}
section.weare img:nth-of-type(3) {
  position: absolute;
  width: 13%;
  transform: rotateZ(90deg);
  opacity: 0.1;
  bottom: 30%;
  right: 5%;
}
section.weare img:nth-of-type(4) {
  top: 12%;
  left: 14%;
}
section.weare img:nth-of-type(5) {
  top: 40%;
  left: 28%;
}
section.weare img:nth-of-type(6) {
  top: 14%;
  left: 36%;
}
section.weare img:nth-of-type(7) {
  top: 28%;
  left: 48%;
}
section.weare img:nth-of-type(8) {
  top: 9%;
  left: 60%;
}
section.weare img:nth-of-type(9) {
  top: 34%;
  left: 70%;
}
section.weare img:nth-of-type(10) {
  top: 12%;
  left: 77%;
}
section.weare img:nth-of-type(11) {
  top: 50%;
  left: 75%;
}

.triangle {
  width: 100%;
  height: 100px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background: #fff;
}

.services {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.services h1 {
  color: #0068ff;
}
.services img.especial {
  max-width: 600px;
  width: 100%;
}
@media (max-width: 770px) {
  .services img.especial {
    width: 50%;
  }
}
.services .items .item {
  color: white;
  padding: 24px 0;
  font-size: 2em;
}
.services .items .item:nth-child(1) {
  border-radius: 10px 10px 0 0;
  background: red;
}
.services .items .item:nth-child(2) {
  background: #b40d90;
}
.services .items .item:nth-child(3) {
  background: #0db415;
}
.services .items .item:nth-child(4) {
  background: #392ed3;
  border-radius: 0 0 10px 10px;
}
.services .items .item img {
  width: 20%;
  padding-right: 10px;
}
.services .items .item p {
  margin-bottom: 0;
  width: 100%;
  font-size: 1.4em;
}

/*# sourceMappingURL=main.css.map */
