@import url("https://fonts.googleapis.com/css2?family=Candal&family=Nunito:wght@200;700&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&family=Nunito:wght@200;700&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&family=Nunito:wght@200;700&family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&family=Nunito:wght@200;700&family=PT+Sans:wght@400;700&display=swap");
* {
  transition: all ease-in-out 0.2s;
}

body {
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  background: #f6fafd;
}
body header {
  height: 100vh;
  background-image: url("../img/Home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  z-index: 1;
}
@media (max-width: 770px) {
  body header {
    background-position: center;
  }
}
body header img {
  position: absolute;
}
body header img.point:nth-child(1) {
  left: 0;
  top: 50px;
  width: 10%;
  opacity: 0.1;
}
body header img.point:nth-child(2) {
  right: 0;
  width: 20%;
  bottom: 0;
}
body header nav {
  background: transparent;
}
body header nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Candal", sans-serif;
  font-weight: bold;
  color: #0068ff !important;
}
body header nav a.btn-register {
  background: white;
  color: #0068ff !important;
  border-radius: 40px;
  box-shadow: 1px 1px 15px #fff;
}
body header section {
  margin-top: 100px;
}
@media (max-width: 770px) {
  body header section {
    margin-top: 20px;
  }
}
body header section h1 {
  color: #0068ff;
  font-family: "PT Sans", sans-serif;
  font-size: 5em;
}
@media (max-width: 292px) {
  body header section h1 {
    font-size: 2em;
  }
}
body header section p {
  font-size: 1.3em;
  color: #4d4949;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 381px) {
  body header section p {
    font-size: 1em;
  }
}
body header section .input-group input {
  border-radius: 20px;
}
body header section .input-group button {
  border-radius: 20px;
}
body header section button:nth-child(2) {
  border-radius: 20px;
  background: #1912a5e0;
  color: white;
}
body header section button:nth-child(2):hover {
  background: transparent;
  color: #007bff;
}
body header section button:nth-child(2) a {
  color: white;
}
body header section button:nth-child(2) a:hover {
  text-decoration: none;
}

section.weare {
  position: relative;
  background: #000fab;
}
section.weare .triangle-main {
  background: #f6fafd;
}
section.weare .triangle-main .triangle {
  position: absolute;
  width: 100%;
  height: 100px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background: #000fab;
  margin-top: -99px;
}
@media (max-width: 292px) {
  section.weare {
    margin-top: 50px;
  }
}
section.weare h2 {
  color: white;
}
section.weare img.avatar {
  border-radius: 100%;
  position: absolute;
  width: 5%;
  box-shadow: 1px 1px 14px #0066ff8b;
  margin-top: 50px;
}
section.weare img:nth-of-type(1) {
  width: 80%;
}
section.weare img:nth-of-type(2) {
  position: absolute;
  left: 0;
  width: 10%;
  transform: rotateZ(90deg);
  opacity: 0.1;
  top: 10%;
}
section.weare img:nth-of-type(3) {
  position: absolute;
  width: 13%;
  transform: rotateZ(90deg);
  opacity: 0.1;
  bottom: 30%;
  right: 5%;
}
section.weare img:nth-of-type(4) {
  top: 22%;
  left: 14%;
}
section.weare img:nth-of-type(5) {
  top: 43%;
  left: 28%;
}
section.weare img:nth-of-type(6) {
  top: 21%;
  left: 36%;
}
section.weare img:nth-of-type(7) {
  top: 45%;
  left: 48%;
}
section.weare img:nth-of-type(8) {
  top: 25%;
  left: 60%;
}
section.weare img:nth-of-type(9) {
  top: 39%;
  left: 70%;
}
section.weare img:nth-of-type(10) {
  top: 24%;
  left: 77%;
}
section.weare img:nth-of-type(11) {
  top: 54%;
  left: 75%;
}
section.weare p {
  color: white;
  padding-bottom: 100px;
}

div.triangle-main {
  background: #000fab;
}
div.triangle-main .triangle {
  position: absolute;
  width: 100%;
  height: 100px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background: #fff;
  margin-top: -99px;
}

.services {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.services h2 {
  color: #0068ff;
}
.services img.img-e1 {
  max-width: 600px;
  width: 100%;
}
@media (max-width: 770px) {
  .services img.img-e1 {
    width: 50%;
    display: none;
  }
}
.services .items .carousel-item img {
  box-shadow: 1px 1px 10px #00000026;
}
.services .items .carousel-item .content {
  position: absolute;
  background: #fff;
  bottom: 0;
  box-shadow: 1px 1px 10px #00000026;
  padding: 20px;
  margin: 20px;
}
@media (max-width: 540px) {
  .services .items .carousel-item .content {
    padding: 10px;
    margin: -20px 5px 5px 5px;
    position: relative;
  }
}

section.clinics {
  background: #000fab;
}
section.clinics h2 {
  color: white;
}
section.clinics .card {
  max-width: 400px;
  box-shadow: 1px 1px 15px #fff;
}
section.clinics .card:hover {
  transform: translateY(-5px);
}
section.clinics .card .card-body .btn-block {
  border-radius: 20px;
  background: #000fab;
  color: white;
  box-shadow: 1px 1px 15px #000fab66;
}

section.inscription {
  background: #000fab;
  background-size: cover;
  background-position: fixed;
}
section.inscription h2 {
  color: #2730b2;
}
section.inscription img {
  border-radius: 10px;
}
section.inscription button {
  border-radius: 20px;
  box-shadow: 1px 1px 15px #867ee3;
  background: #101345;
  color: #d1d1dc !important;
  font-size: 1.4em;
  font-family: "Candal", sans-serif;
}
section.inscription .card {
  background-color: white;
  box-shadow: 1px 1px 15px #fff;
}
section.inscription .card:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #161931 !important;
  background-size: cover;
}
footer h3 {
  font-family: "Candal", sans-serif;
}
footer a:hover {
  text-decoration: none;
}
footer a.facebook {
  color: #2626ff;
}
footer a.instagram {
  color: #e13fcf;
}
footer a.twitter {
  color: #71baf0;
}
footer .copyright {
  background: #192c62;
  color: #9b99a7;
}

.dialog-show {
  clip-path: circle(100%);
  top: 0;
}
.dialog-show body {
  overflow: none;
}

.dialog-hidden {
  clip-path: circle(50%);
  top: -1000%;
}
.dialog-hidden body {
  overflow: auto;
}

section.form-inscription {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #000;
  z-index: 4;
}
section.form-inscription .bg-main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/inscription.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
  filter: blur(5px);
  z-index: -1;
}
section.form-inscription .row {
  height: 100vh;
}
section.form-inscription .row .card {
  border: none;
  box-shadow: 1px 1px 15px #fff;
  border-radius: 10px;
}
section.form-inscription .row .card .card-body span {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4440bd;
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 1.5em;
}
section.form-inscription .row .card img {
  border-radius: 10px 10px 0 0;
}
section.form-inscription .row .card button {
  border-radius: 20px;
}

.hidden {
  display: none;
}

.holder {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #323ead;
  z-index: 9999;
  overflow: hidden;
}

.preloader {
  position: fixed;
  width: 10%;
  height: 0%;
  padding-bottom: 10%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  animation: animatePreloader 1s infinite linear;
  transform-origin: 50% 100%;
}

.preloader div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 3px solid #a2fdff;
  border-radius: 50%;
  box-sizing: border-box;
}

.preloader div:nth-child(2) {
  width: 60%;
  height: 60%;
  top: 20%;
  animation: animatePreloader 0.5s infinite linear;
}

@keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
